<h1 class="text-center mb-3">{{ title }}</h1>

<form class="mb-4" action="/api/members" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email">
    </div>
    <input class="btn btn-primary btn-block" type="submit" value="Add member">
</form>

<h4>Members</h4>
<ul class="list-group">
    {{#each members}}
        <li class="list-group-item">{{ this.name }}: {{ this.email }}</li>
    {{/each}}
</ul>

<a href="/api/members" class="btn btn-light mt-4">Visit API</a>